/* .employee-table td, .employee-table th {
    text-align: center !important; 
} */

:root {
    --empty-block-color: #e0e0e0;
}


.mui-tabs__pane.mui--is-active, .table-key{
    display: flex;
    justify-content: center;
}

.pane-content {
    max-width: 1080px;
}


.mui-table {
    text-align: center;
    border-collapse: collapse;
}

.mui-table td {
    padding: 0;
}

thead.time {
    text-align: left;
}

.button-container {
    overflow: auto;
}

.button-container input {
    margin: 2px;
}


div.controls {
    display: flex;
    justify-content: center;
}

.controls input {
    margin-left: 5px;
    margin-right: 5px;
}


.time-block {
    min-width: 40px;
    min-height: 40px;

    border-style: solid;
    border-width: 1px;
}

.time-block.multi-block {
    float: left;
}

.empty-block {
    min-width: 39px;
    min-height: 39px;

    border-style: solid;
    border-width: 1px;
    border-color: var(--empty-block-color);
    background-color: var(--empty-block-color);
}


 /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 135%;
  left: 50%;
  margin-left: -120px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
    border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 


.print-area {
    display: none;
}

@media print {

    body {
        visibility: hidden;
    }

    .print-area {
        visibility: visible;
        display: flex;
        width: 5in;
        height: 4in;
    }

    .print-column {
        border-right: 1px solid black;
        padding: 0 5px 0;
    }

    ul.no-bullets {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

}